Source: libtertiusqbit-application-model-dbmanager-perl
Section: perl
Priority: extra
Maintainer: Dmitry Lukiyanchuk <wtertius@gmail.com>
Build-Depends: debhelper (>= 8.0.0), perl, libtertiusqbit-perl, libtertiusqbit-class-perl, libtest-deep-perl, libtertiusqbit-application-perl, libparse-eyapp-perl
Standards-Version: 3.9.4

Package: libtertiusqbit-application-model-dbmanager-perl
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}, perl, libtertiusqbit-perl, libtertiusqbit-class-perl, libtertiusqbit-application-perl, libparse-eyapp-perl
Conflicts: libqbit-application-model-dbmanager-perl
Replaces: libqbit-application-model-dbmanager-perl
Description: Class for smart working with DB.
 Class for smart working with DB.
